* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #f2fdff;
}

.container {
    background: url("/images/contBcg-0.jpeg") center/cover no-repeat;
    border: 0.5rem solid #3e92cc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 950px;
    height: 730px;
}

.buttons-div {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.button {
    background-color: #3e92cc;
    color: #f2fdff;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    width: 35px;
    border-radius: 5px;
    border: none;
}

.button:hover {
    color: #3e92cc;
    background-color: #f2fdff;
    border: 2px solid #3e92cc;
}

.button:focus {
    outline: none;
}

.btn-left {
    position: absolute;
    right: 99%;
}

.btn-right {
    position: absolute;
    left: 99%;
}